@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
    }
    main {
        border: 2px solid black;
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }
}
img#phone {display: block}


@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    
    }

    img#tablet {display: block}
    img#phone {display: none}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#pc {display: block;}
    img#phone {display: none}
} 

@media screen and (min-width: 1200px) {

    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;

    }

    img#tv {display: block}
    img#phone {display: none}

}