* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #413c52;
}

header {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 12px;
    color: #CCE2A3;
    text-align: center;
    width: 100%;
    top: 0;
    display: flex;
    background-color: #4D4861;
    padding: 4px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    

    .mypresets {
        font-family: Arial, Helvetica, sans-serif;
        border-style: solid;
        align-items: center;
        display: flex;
        border-radius: 20px;
        padding: 10px;
        margin-block: 4px;

}

.title {
    margin: 8px;
}

.banana {
    margin-top: 8px;
}
